.container1 {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 3rem 0;
}

.card-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 90%;
}

.cardpro1 {
    width: 300px;
    height: 300px;
    border-radius: 100%;
    margin: 3rem 0 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #21d87d;
    background-image: url(/img/Placeholder\ Image.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    filter: grayscale(0.5);
    color: #1e1e2a;
    cursor: pointer;
    transition: 0.5s ease-in-out;
}

.card-wrapper {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.card-wrapper::before {
    content: '';
    position: absolute;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    display: block;
    opacity: 0;
    transition: 0.5 ease-in-out;
}

.card-wrapper h2 {
    font-size: 40px;
    text-transform: uppercase;
    letter-spacing: 4px;
    margin: 0;
    transition: 0.5s ease-in-out;
    color: #016835;
}

.card-wrapper p {
    font-size: 0;
    visibility: visible;
    opacity: 0;
    font-weight: bold;
    text-transform: uppercase;
    transition: 0.5s ease-in-out;
}

.cardpro1:hover {
    filter: unset;
}

.cardpro1 > .card-wrapper::before {
    height: 200px;
    width: 200px;
    opacity: 1;
}

.cardpro1:hover > .card-wrapper p {
    opacity: 1;
    visibility: visible;
    font-size: 14px;
}

.card-text {
    width: 40%;
    letter-spacing: 1px;
    color: #21d87d;
}